.brand-strip-container {
  width: 100%;
  background-color: #000;
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  padding: 25px 0;
}

.brand-strip-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.brand-strip-inner img.brand-logo {
  max-height: 45px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  padding: 5px;
}

.brand-strip-inner img.brand-logo:hover {
  filter: grayscale(0%);
}

@media (max-width: 576px) {
  .brand-strip-inner img.brand-logo {
    margin-bottom: -10px;
  }

  .calvinklein{
    margin-bottom: 5px;
  }
  .versace{
    margin-top: 10px;
  }
}