.hero-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem 0 2rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.hero-heading {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  color: black;
  margin-bottom: 1rem;
}


.HeroText {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

.hero-button {
  display: inline-block;
  padding: 10px 60px;
  margin-bottom: 2rem;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #111;
}

.hero-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-stats>div {
  flex: 1 1 30%;
  text-align: center;
}

.hero-image-wrapper {
  position: relative;
  text-align: center;
}

.hero-img {
  height: 650px;
}

.star-top-right {
  position: absolute;
  top: clamp(5px, 2vw, 20px);
  right: clamp(20px, 5vw, 80px);
  width: clamp(50px, 10vw, 120px);
  z-index: 2;
}

.star-bottom-left {
  position: absolute;
  bottom: clamp(80px, 70vw, 420px);
  left: clamp(20px, 6vw, 90px);
  width: clamp(30px, 5vw, 50px);
  z-index: 2;
}

@media (max-width: 992px) {
  .hero-grid-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .hero-heading {
    font-size: 36px;
    line-height: 42px;
  }

  .hero-button {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
  }

  .hero-img {
    max-width: 100%;
    height: auto;
    margin-right: 0px;
  }

  .hero-image-wrapper {
    margin-bottom: -33px !important;
  }


}

@media (max-width: 576px) {
  .hero-button {
    width: 100%;
    padding: 10px 20px;
  }

  .hero-heading {
    font-size: 30px;
    line-height: 38px;
  }

  .hero-grid-container {
    padding: 2rem 1rem;
  }
}