.thankyou-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    gap: 2rem;
    background-color: #fff;
}

.thankyou-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-right: 5%;
}

.thankyou-title {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.thankyou-subtext {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.thankyou-btn {
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 1rem;
    padding: 12px 65px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.thankyou-btn:hover {
    background: #000000;
}

.thankyou-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankyou-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

body.dark-mode .thankyou-wrapper {
    background-color: #121212;
}

body.dark-mode .thankyou-title,
body.dark-mode .thankyou-subtext {
    color: #fff;
}

body.dark-mode .thankyou-btn {
    background: #000000;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);

}


@media (max-width: 992px) {
    .thankyou-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
    }

    .thankyou-left {
        align-items: center;
        padding-right: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .thankyou-title {
        font-size: 2.2rem;
    }

    .thankyou-subtext {
        font-size: 1rem;
    }

    .thankyou-btn {
        padding: 10px 65px;
    }

    .thankyou-image {
        max-width: 350px;
    }
}