.footer-section {
    background-color: #ffffff;
    color: #000;
}

.footer-section a {
    text-decoration: none;
    color: #000;
    line-height: 40px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000;
    font-size: 25px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.payment-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    margin-top: -60px;
}

.payment-logos img {
    height: 60px;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
    background: #fff;
    padding: 6px 12px;
}

body.dark-mode .footer-section {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .footer-section a {
    color: #fff;
}

body.dark-mode .social-icon {
    color: #fff;
}
body.dark-mode .text-muted{
    color: #fff !important;
}

body.dark-mode .payment-logos img {
    background: #121212;
}

@media (max-width: 954px) {
  .footer-section {
    margin-left: 20px;
  }
}
