.bg-light {
  background-color: white !important;
}

.text-uppercase {
  margin-left: 23px;
  white-space: normal !important;
  word-wrap: break-word !important;
  display: block;
  color: black;
}

.heading-responsive {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 48px;
  line-height: 48px;
}

.text-muted{
  color: black !important;
}

body.dark-mode .bg-light {
  background-color: #121212 !important;
}

body.dark-mode .text-uppercase {
  color: white !important;
}

body.dark-mode .heading-responsive {
  color: white !important;
}

body.dark-mode .swiper-slide .bg-white {
  background-color: #121212 !important;
  color: white !important;
}

body.dark-mode .swiper-slide .text-muted {
  color: #d1d1d1 !important;
}

body.dark-mode .swiper-slide .text-dark {
  color: white !important;
}

@media(max-width: 438px) {
  .heading-responsive {
    font-size: 38px;
  }
}

@media(max-width: 356px) {
  .heading-responsive {
    font-size: 28px;
  }
}

